* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0;
  margin: 0 0;
  scroll-behavior: smooth;
}

.bg-color-black {
  background-color: black;
}

header .heading span:hover {
  cursor: pointer;
  color: #00adef;
}

header .heading i {
  border: 1px solid;
  padding: 3px 7px;
  font-size: 12px;
}

header ul li {
  padding: 0 0.5rem;
}

header ul .nav-link {
  color: white !important;
}

header ul .nav-link:hover {
  color: #00adef !important;
}

header .navbar__container--sticky {
  background-color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

header .isScrolling {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

#carousel .carousel-inner .carousel-item {
  height: 700px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-left: 50px;
}

#carousel .carousel-inner .carousel-item .text-carousel h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
}

#carousel .carousel-inner .carousel-item .text-carousel .btn-dark {
  background: #333;
  border: 1px solid #333;
  border-radius: 0;
  color: white;
  padding: 0.5rem 1.5rem;
  margin-top: 25px;
}

#carousel .carousel-inner .carousel-item .text-carousel .btn-dark:hover {
  background-color: black;
}

#carousel .carousel-inner img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
}

#search {
  background-color: #333;
}

#search .container {
  padding: 2rem 0;
}

#search form {
  margin: 0;
}

#search form input {
  background-color: #ececec;
  border: 1px solid #ececec;
  color: #333;
  font-size: 1.285rem;
  height: 2.85rem;
  line-height: 1.715rem;
  padding: 0.355rem 1rem 0.215rem 1rem;
  vertical-align: baseline;
  width: 90%;
}

#search form button {
  background: #ececec;
  border: 1px solid #ececec;
  color: #333;
  font-size: 1.285rem;
  height: 2.85rem;
  line-height: 2.855rem;
  margin-left: -5px;
  padding: 0.5px 1.43rem 1px 1.43rem;
  width: 4.425rem;
}

#welcome {
  padding-top: 6rem;
}

#welcome .container {
  padding: 5rem 0;
}

#welcome .container .col-md-9 {
  font-size: 15px;
}

#welcome .container .col-md-9 h2 {
  font-family: "Playfair Display", serif;
}

#welcome .container .col-md-9 p {
  padding: 2rem 0;
}

#welcome .container .col-md-9 .btn-custom {
  background-color: #00adef;
  border: 1px solid none;
  color: white;
}

#welcome .container .col-md-9 .btn-custom:hover {
  opacity: 0.8;
}

#welcome .container .col-md-9 a {
  color: #00adef;
  text-decoration: none;
}

#welcome .container .col-md-9 a:hover {
  text-decoration: underline;
}

#category {
  padding-bottom: 10rem;
}

#category .container .row .item-category {
  position: relative;
}

#category .container .row .item-category img {
  width: 100%;
}

#category .container .row a::after {
  bottom: 0;
  content: "";
  display: block;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  -webkit-transition: height 0.16s, opacity 0.16s;
  transition: height 0.16s, opacity 0.16s;
  margin-left: 15px;
  margin-right: 15px;
}

#category .container .row .item-category:hover a::after {
  height: 7px;
  opacity: 1;
  background-color: #00adef;
}

.view {
  opacity: 1;
  transition: all 0.5s;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.transtion-view {
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

#tabs {
  background-color: black;
  margin-top: -100px;
}

#tabs ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 2rem;
}

#tabs ul::after {
  display: none;
}

#tabs ul li a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 14px;
}

#tabs ul li a i {
  padding-right: 12px;
}

#tabs ul li a:hover {
  color: #00adef;
  border: none;
}

#tabs ul li a.active {
  background: none;
  border: none;
  color: #00adef;
}

#tabs ul li a.active::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #00adef;
  margin-top: 8px;
}

#tabs .tab-content .gallerry .gallerry--content #show .row,
#tabs .tab-content .gallerry .gallerry--content #hide .row {
  margin: 0;
}

#tabs .tab-content .gallerry .gallerry--content #show .large-item,
#tabs .tab-content .gallerry .gallerry--content #show .small-item,
#tabs .tab-content .gallerry .gallerry--content #hide .large-item,
#tabs .tab-content .gallerry .gallerry--content #hide .small-item {
  padding: 0;
}

#tabs .tab-content .gallerry .gallerry--content #show .large-item .gallerry--item,
#tabs .tab-content .gallerry .gallerry--content #show .small-item .gallerry--item,
#tabs .tab-content .gallerry .gallerry--content #hide .large-item .gallerry--item,
#tabs .tab-content .gallerry .gallerry--content #hide .small-item .gallerry--item {
  position: relative;
}

#tabs .tab-content .gallerry .gallerry--content #show .large-item .gallerry--item:hover .gallerry--text,
#tabs .tab-content .gallerry .gallerry--content #show .small-item .gallerry--item:hover .gallerry--text,
#tabs .tab-content .gallerry .gallerry--content #hide .large-item .gallerry--item:hover .gallerry--text,
#tabs .tab-content .gallerry .gallerry--content #hide .small-item .gallerry--item:hover .gallerry--text {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  background-color: rgba(0, 0, 0, 0.8);
}

#tabs .tab-content .gallerry .gallerry--content #show .large-item .gallerry--item .gallerry--text,
#tabs .tab-content .gallerry .gallerry--content #show .small-item .gallerry--item .gallerry--text,
#tabs .tab-content .gallerry .gallerry--content #hide .large-item .gallerry--item .gallerry--text,
#tabs .tab-content .gallerry .gallerry--content #hide .small-item .gallerry--item .gallerry--text {
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 140px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  font-size: revert;
  padding: 12px;
  font-family: serif;
}

#tabs .tab-content .gallerry .gallerry--content #show .large-item img,
#tabs .tab-content .gallerry .gallerry--content #hide .large-item img {
  width: 100%;
  height: 570px;
}

#tabs .tab-content .gallerry .gallerry--content #show .small-item img,
#tabs .tab-content .gallerry .gallerry--content #hide .small-item img {
  width: 100%;
  height: 285px;
}

#tabs .tab-content .gallerry .gallerry--content #btnSeeMore {
  text-align: center;
  position: relative;
  background: black;
  padding-top: 30px;
}

#tabs .tab-content .gallerry .gallerry--content #btnSeeMore span {
  font-size: 15px;
  margin: 3px;
}

#text {
  background-color: black;
  position: relative;
  color: white;
  padding: 100px 20px 0px 20px;
  font-size: 14px;
}

#text .icon-with-text {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#text .list-text sup {
  font-size: 100%;
}

footer {
  background: black;
  margin-top: -16px;
  padding: 40px 20px 0px 20px;
}

footer .footer__top--line,
footer .footer__bottom--line {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: #333333;
  margin: 40px 0;
}

footer .footer__top .footer__top--title {
  color: white;
  font-family: serif;
  font-size: 40px;
}

footer .footer__top .footer__top--title h4 {
  font-size: 30px;
}

footer .footer__top .footer__top--list ul {
  list-style: none;
}

footer .footer__top .footer__top--list ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .footer__top .footer__top--list ul li a:hover {
  color: #00adef;
}

footer .footer__bottom .footer__bottom--icon .text {
  color: #999999;
  font-size: 14px;
}

footer .footer__bottom .footer__bottom--icon .icon {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__bottom .footer__bottom--icon .icon i {
  font-size: 30px;
  color: #9999;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .footer__bottom .footer__bottom--icon .icon i:hover {
  cursor: pointer;
  color: #00adef;
}

footer .footer__bottom .footer__bottom--brand img {
  width: 50%;
}

footer .copyright p {
  color: #999999;
  font-size: 14px;
}

footer .copyright p a {
  color: white;
  text-decoration: none;
}

footer .copyright p a:hover {
  cursor: pointer;
  color: #00adef;
}
/*# sourceMappingURL=style.css.map */