#text {
  background-color: black;
  position: relative;
  color: white;
  padding: 30px 20px 0px 20px;

  font-size: 14px;
  .icon-with-text {
    justify-content: space-between;
    //responsive
    @media screen and (max-width:600px) {
      p{
        width: 100%;
      }
    }
  }

  .list-text {
    sup {
      font-size: 100%;
    }
  }
}
