#welcome {
  padding-top: 6rem;
  .container {
    padding: 5rem 0;
    .col-md-9 {
      font-size: 15px;
      h2 {
        font-family: "Playfair Display", serif;
      }
      p {
        padding: 2rem 0;
      }
      .btn-custom {
        background-color: $color;
        border: 1px solid none;
        color: white;
      }
      .btn-custom:hover {
        opacity: 0.8;
      }
      a {
        color: $color;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
