#welcome {
  padding-top: 6rem;
  .container {
    padding: 5rem 0;
    .col-md-9 {
      font-size: 15px;
      h2 {
        font-family: "Playfair Display", serif;
        //responsive
        @media screen and (max-width:600px) {
          font-size: 22px;
          width: 69%;
        }
      }
      p {
        padding: 2rem 0;
        //responsive
        @media screen and (max-width:600px) {
          font-size: 14px;
        }
      }
      .btn-custom {
        background-color: $color;
        border: 1px solid none;
        color: white;
        //responsive
        @media screen and (max-width:600px) {
          width: 100%;
        }
      }
      .btn-custom:hover {
        opacity: 0.8;
      }
      a {
        color: $color;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }

}
